<!doctype html>
<html lang="en" data-theme="dracula">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daisyui@4.12.11/dist/full.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" type='text/css' href="{{url_for('static',filename='dist/output.css')}}">

  <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>


<body>
  <div class="header-image">
    <img src="{{ url_for('static', filename='Temporal_Logo_Animation.gif') }}" alt="Animated Logo">
  </div>
  <div id="webcrumbs">
    <div class="w-[1200px] bg-white shadow-lg rounded-lg p-6 min-h-[600px]">

      <div class="container">
        {% block content %}
        {% endblock %}
      </div>

    </div>

</body>

</html>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById("news-input-form");
    if (form) {
      form.addEventListener("submit", function (event) {
        const topicString = document.getElementById("topicString").value;
        if (!topicString || topicString.trim() === '') {
          event.preventDefault();
          alert("Please enter a topic before submitting.");
        }
      });
    }
  });
</script>